.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Browser viewport height */
}

#chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
/*   
  #chat-messages {
    margin-bottom: 10px;
  }
  
  .user-message {
    background-color: #ddf;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    align-self: flex-end;
  }
  
  .bot-message {
    background-color: #dfd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    align-self: flex-start;
  }
  
  input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
   */

   #chat-messages {
    flex-grow: 1; /* Expand to fill remaining space */
    overflow-y: auto; /* Add vertical scrollbar if needed */
  }
  
  .user-message, .bot-message {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    clear: both;
  }
  
  .user-message {
    background-color: #4da3ff;
    float: right; /* Align user messages to the left */
  }
  
  .bot-message {
    background-color: #cee6ff;
    color: #242424;
    float: left; /* Align bot messages to the right */
  }
  
  input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    margin-right: 20px;
      margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }